{{> head }}

{{> navbar }}


<div>
    <div class="col-8">
        <h1>SUPS</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/SUPS.jpg" class="img-thumbnail">
    </div>


</div>

{{> footer }}